@import './imports.css';

.absolute-1 {
    left: -280px;
}
.absolute-2 {
    left: 900px;
    height: 500px;
    width: auto;
}
.absolute-3 {
    left: -300px;
    height: 450px;
    width: auto;
}
.absolute-4 {
    right: 25px;
    width: 80px;
    height: auto;
}

.card-1 {
    background-image: url('../../assets/imgs/Grupo\ 439.png');
}
.card-2 {
    background-image: url('../../assets/imgs/Grupo\ 440.png');
}
.card-3 {
    background-image: url('../../assets/imgs/Grupo\ 441.png');
}
.card-4 {
    background-image: url('../../assets/imgs/Grupo\ 442.png');
}
.card-5 {
    background-image: url('../../assets/imgs/Grupo\ 443.png');
}

.card-title {
    position: absolute;
    bottom: 0;
    color: var(--secondary-text-color);
    font-size: 16px;
}

.card-small > .card-title {
    font-size: 12px;
    width: 80%;
    padding: 5px;
}