<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!--Meta Tags-->
    <meta name="author" content="Arthur Moreira dos Santos">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Links Bootstrap-->
    <link 
        rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
        crossorigin="anonymous"
    >

    <!--Link FontAwesome-->
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer" 
    />
    
    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />

    <!--Links CSS-->
    <link rel="stylesheet" href="../styles/faq.css" type="text/css">

    <title>Perguntas Frequentes - Site da Dra. Suzane Sales</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="../../index.html">
                    <img src="../../assets/imgs/logotipo-suzane.png" class="logo-header" alt="Logo">
                </a>
          
                <div class="justify-content-end">
                    <ul class="navbar-nav" style="display: flex; gap: 2em">
                        <li class="nav-item">
                            <a class="nav-link" href="./sobre.html">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./faq.html">Perguntas Frequentes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./noticias-index.html">Notícias e Conteúdo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contato</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="page-content">
        <main class="page-banner green">
            <div class="container w-100 d-flex justify-content-center align-items-center" style="flex-direction: column">
                <div class="container text-center">
                    <img src="../../assets/imgs/bebe-feliz-branco.svg" alt="Bebê SVG">
                    <img src="../../assets/imgs/bebe-normal-branco.svg" alt="Bebê SVG">
                    <img src="../../assets/imgs/bebe-menina-branco.svg" alt="Bebê SVG">
                    <img src="../../assets/imgs/bebe-menino-branco.svg" alt="Bebê SVG">
                </div>
                
                <h1 class="h5 text-white mt-2">Perguntas Frequentes</h1>

                <div style="width:65%; margin: 15px auto;">
                    <h2 class="h3 p-1 title text-uppercase text-center w-100" style="margin: auto">
                        O ideal é levar o seu bebê ao
                        pediatra logo na primeira semana
                        de vida!
                    </h2>
                    <h3 class="h5 text-white text-center">
                        Vem ver outras respostas que podem te interessar 👇🏻
                    </h3>
                </div>
            </div>
        </main>

        <section class="p-5 faq-card" style="margin: auto">
            <div class="w-100 row position-relative" style="color: var(--btn-background-green)">
                <h4 class="h6">
                    Como posso saber se me bebê se alimenta corretamente?
                </h4>
                <span class="col" style="position: absolute; left: 95%; top: 5px;">
                    <i class="fa-solid fa-angles-up"></i>
                </span>
            </div>
            <div class="w-100 mt-1 border-bottom">
                <h5 class="paragraph" style="font-size: 14px; width: 90%">
                    Observe se o bebê está ganhando peso e fazendo xixi e cocô regularmente. 
                    Além disso, o pediatra irá avaliar o desenvolvimento do seu filho nas 
                    consultas de acompanhamento.
                </h5>
            </div>

            <div class="w-100 row position-relative pt-3 pb-2 border-bottom" style="color: var(--subheading-color)">
                <h4 class="h6">
                    Como aliviar a cólica do meu bebê?
                </h4>
                <span class="col" style="position: absolute; left: 95%; top: 20px;">
                    <i class="fa-solid fa-angles-down"></i>
                </span>
            </div>

            <div class="w-100 row position-relative pt-3 pb-2 border-bottom" style="color: var(--subheading-color)">
                <h4 class="h6">
                    Qual a melhor forma de higienizar o umbigo do recém-nascido?
                </h4>
                <span class="col" style="position: absolute; left: 95%; top: 20px;">
                    <i class="fa-solid fa-angles-down"></i>
                </span>
            </div>

            <div class="w-100 row position-relative pt-3 pb-2 border-bottom" style="color: var(--subheading-color)">
                <h4 class="h6">
                    Meu filho está com febre. O que eu faço?
                </h4>
                <span class="col" style="position: absolute; left: 95%; top: 20px;">
                    <i class="fa-solid fa-angles-down"></i>
                </span>
            </div>

            <div class="w-100 row position-relative pt-3 pb-2 border-bottom" style="color: var(--subheading-color)">
                <h4 class="h6">
                    O que eu faço para evitar que meu filho fique doente?
                </h4>
                <span class="col" style="position: absolute; left: 95%; top: 20px;">
                    <i class="fa-solid fa-angles-down"></i>
                </span>
            </div>

            <div class="w-100 row position-relative pt-3 pb-2 border-bottom" style="color: var(--subheading-color)">
                <h4 class="h6">
                    Como aliviar o desconforto pelos primeiros dentinhos do meu filho?
                </h4>
                <span class="col" style="position: absolute; left: 95%; top: 20px;">
                    <i class="fa-solid fa-angles-down"></i>
                </span>
            </div>

            <div class="w-100 row position-relative pt-3 pb-2 border-bottom" style="color: var(--subheading-color)">
                <h4 class="h6">
                    Meu filho está com febre. O que eu faço?
                </h4>
                <span class="col" style="position: absolute; left: 95%; top: 20px;">
                    <i class="fa-solid fa-angles-down"></i>
                </span>
            </div>

            <div class="w-100 row position-relative pt-3 pb-2 border-bottom" style="color: var(--subheading-color)">
                <h4 class="h6">
                    O que eu faço para evitar que meu filho fique doente?
                </h4>
                <span class="col" style="position: absolute; left: 95%; top: 20px;">
                    <i class="fa-solid fa-angles-down"></i>
                </span>
            </div>

            <div class="w-100 row position-relative pt-3 pb-2 border-bottom" style="color: var(--subheading-color)">
                <h4 class="h6">
                    Quando devo iniciar a introdução alimentar do meu bebê?
                </h4>
                <span class="col" style="position: absolute; left: 95%; top: 20px;">
                    <i class="fa-solid fa-angles-down"></i>
                </span>
            </div>

            <div class="w-100 row position-relative pt-3 pb-2 border-bottom" style="color: var(--subheading-color)">
                <h4 class="h6">
                    Como posso ajudar meu filho a dormir melhor durante a noite?
                </h4>
                <span class="col" style="position: absolute; left: 95%; top: 20px;">
                    <i class="fa-solid fa-angles-down"></i>
                </span>
            </div>

            <div class="w-100 row position-relative pt-3 pb-2 border-bottom" style="color: var(--subheading-color)">
                <h4 class="h6">
                    Qual a importância das consultas de acompanhamento e vacinação para o meu filho?
                </h4>
                <span class="col" style="position: absolute; left: 95%; top: 20px;">
                    <i class="fa-solid fa-angles-down"></i>
                </span>
            </div>

            <img src="../../assets/imgs/icone-telefone-open.svg" alt="Ícone Telefone" id="phone" class="img-absolute absolute-4 contact-icon mb-3">        
            <img src="../../assets/imgs/WHATSAPP.png" alt="Ícone Whatsapp" id="whatsapp" class="img-absolute absolute-4 contact-icon" style="margin-top: 3.4rem"> 
                
            <h6 class="paragraph img-absolute absolute-4 msg-whatsapp shadow" style="width: 120px; height: auto; font-size: 12px; text-align: right;">
                <span class="text-uppercase text-success font-weight-bold">fale</span>
                pelo WhatsApp
            </h6>
            <h6 class="paragraph img-absolute absolute-4 msg-phone shadow" style="width: 120px; height: auto; font-size: 12px; text-align: right;">
                <span class="text-uppercase text-danger font-weight-bold">ligue</span>
                para <br> 11 91057.8890
            </h6>
        </section>

        <section class="p-2">
            <h2 class="title h2 text-center mb-5 text-uppercase">Notícias e Conteúdo</h2>

            <div class="row p-3">
                <div class="col card card-1">
                    <a href="./components/pages/noticia1.html">
                        <p class="paragraph card-title">
                            <strong>Quais os primeiros cuidados com o recém-nascido?</strong> <br>
                            6 dicas especiais do dia a dia para seu filho ficar mais seguro e tranquilo.
                        </p>
                    </a>
                </div>
                <div class="col card card-2">
                    <a href="./components/pages/noticia2.html">
                        <p class="paragraph card-title">
                            <strong>Qual a importância das brincadeiras para desenvolver o meu filho?</strong> <br>
                            Saiba como as brincadeiras são fundamentais aos pequenos.
                        </p>
                    </a>
                </div>
                <div class="col">
                    <div class="card-small card-3">
                        <a href="./components/pages/noticia3">
                            <p class="paragraph card-title">
                                <strong>Como lidar com as birras e emoções das crianças?</strong> <br>
                                Veja algumas dicas para lidar com esta situação.
                            </p>
                        </a>
                    </div>
                    <div class="col card-small card-4">
                        <a href="./components/pages/noticia4">
                            <p class="paragraph card-title">
                                <strong>De que forma a rotina desenvolve os pequenos?</strong> <br>
                                Saiba por que a rotina é fundamental ao crescimento saudável das crianças.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col card card-5">
                    <a href="./components/pages/noticia5">
                        <p class="paragraph card-title">
                            <strong>Como estimular a autonomia infantil?</strong> <br>
                            Incentivar a autonomia é importante. Veja algumas dicas do que fazer.
                        </p>
                    </a>
                </div>
            </div>
            <div class="row">
                <a class="paragraph text-center mt-3" style="text-decoration: none;" href="./components/pages/noticias-index.html">Ver todas</a>
            </div>
        </section>

        <footer>
            <img src="../../assets/imgs/FOOTER.png" class="img-fluid w-100" alt="Rodapé">
        </footer>
    </div>
</body>
</html>