@import url('https://fonts.googleapis.com/css2?family=Comfortaa');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    color: inherit;
    font-size: 18px/22px;
    text-decoration: none;
    scroll-behavior: smooth;
}